@import "../vendor.scss";
.numbers {
  background-color: #2f2f2f;
  padding-bottom: 70px;
  position: relative;
  margin-bottom: 200px;
  &::after {
    content: "";
    background: url(../../img/Diffpeop.jpg);

    position: absolute;
    bottom: -200px;
    left: 0;
    width: 100%;
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
  }
}
.numbers-content {
  display: flex;
}
.numbers-item {
  max-width: 25%;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.numbers-title {
  color: #fff;
  & span {
    color: var(--site-orange-color);
  }
}
.numbers-item__title {
  font-size: 40px;
  margin-bottom: 14px;
  color: var(--site-orange-color);
}
.numbers-text {
  color: #fff;
  font-size: 18px;
}
