.swiper-slide{
  background-color: #ffffff;

  width: 500px;
  height: 300px;
  box-shadow: 0px 0px 20px -3px rgba(34, 60, 80, 0.13);
}

.deal-slider{
  padding: 50px 0;
  @include media-breakpoint-down(md) {
    padding: 0 0 20px 0;
  }
}
//.deal-content{
//  padding: 0 0 0 30px;
//  flex: 1 1 auto;
//  min-width: 0;
//}
.deal-slider .swiper-button-prev::after,
.deal-slider .swiper-button-next::after{
  color: #0d093b;
  font-size: 50px;
}
.deal-slider__slide{
  display: flex;
  flex-direction: column;
  position: relative;
  &:hover{
    cursor: pointer;
  }

}
.slider-content__header{
  display: flex;
  gap: 44px;
  margin-bottom: 15px;
}
.slider-content__order{
  position: absolute;
  z-index: 1000;
  top: 12px;
  left: 17px;
  color: #fff;
  text-align: center;
  font-size: 25px;
  padding: 5px;
  font-weight: 500;
  border: 3px solid #ffffff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-content__title{
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
 figure {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  margin: -0.135em;
  width: 33.333%;
  height: 400px;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

figure img {
  position: relative;
  display: block;
  min-height: 100%;
  opacity: 0.8;
}

 figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure figcaption::before,
figure figcaption::after {
  pointer-events: none;
}

figure figcaption,
 figure a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


 figure a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

figure h2 {
  word-spacing: -0.15em;

  font-weight: 300;
}

figure h2 span {
  font-weight: 800;
}

 figure h2,
figure p {
  margin: 0;
}

 figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}


figure.effect-dexter {
  width: 100%;
  background: -webkit-linear-gradient(top, rgba(37,141,200,1) 0%, rgba(104,60,19,1) 100%);
  background: linear-gradient(to bottom, rgba(37,141,200,1) 0%,rgba(104,60,19,1) 100%);
}

figure.effect-dexter img {
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-dexter:hover img {
  opacity: 0.4;
}

figure.effect-dexter figcaption::after {
  position: absolute;
  right: 30px;
  bottom: 30px;
  left: 30px;
  height: -webkit-calc(50% - 30px);
  height: calc(50% - 30px);
  border: 7px solid #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

figure.effect-dexter:hover figcaption::after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-dexter figcaption {
  padding: 3em;
  text-align: left;
}

figure.effect-dexter p {
  position: absolute;
  right: 60px;
  bottom: 60px;
  left: 60px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100px,0);
  transform: translate3d(0,-100px,0);
}

figure.effect-dexter:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
