<section class="about">
  <div class="container">
    <div class="about_wrapper">
      <h2 class="title title--bl">

        Группа компаний  <span class="title--color"> ARYSTAN LLC </span> 

      </h2>
      <div class="about__content">
        <div class="about_content__img">
          <img src="./img/gallery-5.jpeg"/>
        </div>
        <div class="about_content__block">
          <h2 class="about_content__title">
              Добро пожаловать в Отдел Логистики и Транспорта
          </h2>
          <h4 class="about_content__title--sm">
              <span>
                Более 10 лет опыта работы в сфере логистических услуг
              </span>
          </h4>
          <div class="about_content__text">
              <span> Туран Логистика Казахстан </span> - Ведущий Поставщик Качественных Упаковщиков и Грузчиков в мире. Обладая более чем 10-летним опытом работы в отрасли, компания обладает высокой квалификацией и оснащена лучшими удобствами, соответствующими всем Высоким стандартам качества перевозок.
            <br>
            Мы постоянно заботимся о том, чтобы обеспечить лучшее с помощью Долговечности наших Продуктов, Комфорта Продуктов и Привлекательности Продуктов.Мы предлагаем широкий спектр Услуг по Перемещению и Упаковке, логистике, транспортировке грузов по всему миру.
          </div>
        </div>

      </div>
      <div class="about_list">
        <ul class="about_list__items">
          <li class="about_list__item">Гарантия на материалы 4 года.</li>
          <li class="about_list__item">Было завершено более 1000 проектов.</li>
          <li class="about_list__item">Доступно более 499 профессионалов.</li>
        </ul>
        <ul class="about_list__items">
          <li class="about_list__item">Более 15 наград.</li>
          <li class="about_list__item">Доступно более чем в 10 странах.</li>
          <li class="about_list__item">Логистика без границ.</li>
        </ul>
        <ul class="about_list__items">
          <li class="about_list__item">Порт мирового класса.  </li>
          <li class="about_list__item">Бесконечные возможности.</li>
          <li class="about_list__item">Доставленное счастье.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
