<footer id="footer" class="footer">
  <div class="container">

    <div class="footer-wrapper">

      <div class="footer-content">
        <div class="footer-items footer-social">
          <div class="footer-logo logo">
            ARYSTAN LLC
          </div>
          <div class="footer-social__text lng-footer-social__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet laudantium omnis, error, dolore, accusamus deleniti assumenda corporis a ad distinctio eius quisquam sint
          </div>

          <div class="footer-social__icons">
            <div class="footer-social__icon">
              <a  class="social-icon__link"href="whatsapp://send?abid=+77759551015&text=Hello%2C%20World!">
                <img src="../img/svg/whatsapp-brands.svg"/>
              </a>

            </div>
            <div class="footer-social__icon">
              <a class="social-icon__link" href="whatsapp://send?abid=phonenumber&text=Hello%2C%20World!">
                <img src="../img/svg/instagram-brands.svg"/>
              </a>
            </div>
          </div>
        </div>
        <!-- <div class=" footer-items footer-list">
            <div class="title footer-title">
              Наши Услуги
            </div>
            <ul>
              <li class="footer-li">Финансовые </li>
              <li class="footer-li">Маркетинговые</li>
              <li class="footer-li">Цифровизация </li>

            </ul>
        </div> -->
        <div class="footer-items footer-list">
          <div class="title footer-title lng-footer-title">
            Контактные Данные
          </div>
          <ul>
            <li class="footer-li" id="phone">+1 973 930 93 49 </li>
            <li class="footer-li" id="address">Orken 1</li>
            <li class="footer-li" id="email">arystanllc@gmail.com</li>
          </ul>
        </div>

      </div>
      <div class="footer-all-right">
        <span>
          © ARYSTANLLC 2022 All Right Reserved.
        </span>
        <span>
          <a class="a-reset" href="#">
            @ADLEAD Team
          </a>
        </span>
      </div>
    </div>


  </div>
</footer>

