<header class="header">

  <div class="top-line">
    <div class="top-line__top">
      <div class="top-line__item top-line__item--left">
        <div class="language">
          <div class="change-r" data-lang="ru">
            RU
          </div>
          <select id="lang">
            <option value="ru">
              RU
            </option>
            <option value="en">
              EN
            </option>
          </select>
        </div>
      </div>
      <div class=" top-line__item top-line__item--center">
        <a href="#" class="logo">
          <span class="logo__img-wrapper">
          </span>
          <span class="logo__img-text">
            ARYSTANLLC
          </span>
        </a>
      </div>
      <div class="top-line__item top-line__item--right">
        <button

        data-graph-path="modal"
        class="button button-feedback btn-reset  button-feedback--header lng-button-feedback--header">
          Связаться
        </button>
      </div>






      <div class="menu-button-container">
        <div class="menu-button">
          <input type="checkbox" id="ham-menu">
          <label for="ham-menu">
            <div class="hide-des">
              <span class="menu-line"></span>
              <span class="menu-line"></span>
              <span class="menu-line"></span>
              <span class="menu-line"></span>
              <span class="menu-line"></span>
              <span class="menu-line"></span>
            </div>
          </label>
          <div class="full-page-green"></div>
          <div class="ham-menu">
            <ul class="centre-text bold-text">
              <li> <a data-scroll href="#top-page">
                <span  class="lng-top-page-link" >Главная </spa>

                </a> </li>
              <li > <a class="lng-about-link" data-scroll href="#about"> О нас </a></li>
              <li> <a class="lng-work-link" data-scroll href="#work"> Наши услуги </a></li>
              <li> <a class="lng-deal-link" data-scroll href="#deal"> Наши работы </a></li>
              <li> <a class="lng-footer-link" data-scroll href="#footer"> Контакты </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="top-line__bottom">

      <ul class="top-line__menu">
        <li class="menu-item">
          <a data-scroll class="menu-item__link lng-top" href="#">
                Главная
          </a>
        </li>
        <li class="menu-item">
          <a data-scroll class="menu-item__link lng-about" href="#about">
            О нас
          </a>
        </li>
        <li class="menu-item">
          <a data-scroll class="menu-item__link lng-work" href="#work">
            Наши услуги
          </a>
        </li>
        <li class="menu-item">
          <a data-scroll class="menu-item__link lng-deal" href="#deal">
            Наши работы
          </a>
        </li>
        <li class="menu-item">
          <a data-scroll class="menu-item__link lng-footer" href="#footer">
            Контакты
          </a>
        </li>
      </ul>
    </div>

  </div>

</header>

