<section class="numbers">
  <div class="container">
    <div class="numbers-wrapper">
      <h2 class="title numbers-title">
        <span class="normal lng-title-numbers-1"> Наши Потрясающие  </span> <span class="yellow lng-title-numbers-2"> Цифры </span>
      </h2>
      <div class="numbers-content">
        <div class="numbers-item">
          <div class="numbers-item__title lng-number-title">
             Более 1 года
          </div>
          <div class="numbers-text lng-number-text-1">
            Гарантия на уникальность
          </div>
        </div>
        <div class="numbers-item">
          <div class="numbers-item__title ">
            10+
          </div>
          <div class="numbers-text lng-number-text-2">
             Успешных консультаций
          </div>
        </div>
        <div class="numbers-item">
          <div class="numbers-item__title" >
            10+
          </div>
          <div class="numbers-text lng-number-text-3">
            Член команды
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
