<section class="numbers">
  <div class="container">
    <div class="numbers-wrapper">
      <h2 class="title numbers-title">
        Наши Потрясающие <span> Цифры </span>
      </h2>
      <div class="numbers-content">
        <div class="numbers-item">
          <div class="numbers-item__title">
            10 Лет
          </div>
          <div class="numbers-text">
            Гарантия на материалы
          </div>
        </div>
        <div class="numbers-item">
          <div class="numbers-item__title">
            2500+
          </div>
          <div class="numbers-text">
            Заказ Выполнен
          </div>
        </div>
        <div class="numbers-item">
          <div class="numbers-item__title">
            50+
          </div>
          <div class="numbers-text">
            Член команды
          </div>
        </div>
        <div class="numbers-item">
          <div class="numbers-item__title">
            20 Дней
          </div>
          <div class="numbers-text">
            Доставка
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
