<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <section id="deal" class="deal">
    <div class="container">
      <div class="deal-wrapper">
        <h2 class="title deal-title">
           <span class="lng-title-deals"> Наши </span>   <span class="yellow lng-title-dealf">Работы</span>
        </h2>
        <div class="deal-content">

          <div class="deal-slider">
            <div class="deal-slider__wrapper swiper-wrapper">
              <div class="deal-slider__slide swiper-slide">
                <div class="slider-content__order"> <span> 01 </span> </div>
                <figure class="effect-dexter">

                  <img
                    src="https://img.freepik.com/premium-vector/abstract-dynamic-blue-orange-background_67845-1390.jpg?w=2000"
                    alt="img12"
                  />

                  <figcaption>
                    <h2>Strange
                      <span>Dexter</span>
                    </h2>
                    <p>
                      Dexter had his own strange way.
                      You could watch him training ants.
                    </p>
                    <a href="#">
                      View more
                    </a>
                  </figcaption>

                </figure>
              </div>
              <div class="deal-slider__slide swiper-slide">
                <div class="slider-content__order"> <span> 02 </span> </div>
                <figure class="effect-dexter">

                  <img
                    src="https://img.freepik.com/premium-vector/abstract-dynamic-blue-orange-background_67845-1390.jpg?w=2000"
                    alt="img12"
                  />

                  <figcaption>
                    <h2> Strange
                      <span> Dexter </span>
                    </h2>
                    <p>
                      Dexter had his own strange way.
                      You could watch him training ants.
                    </p>
                    <a
                      href="#">
                      View more
                    </a>

                  </figcaption>

                </figure>
              </div>
              <div class="deal-slider__slide swiper-slide">
                <div class="slider-content__order"> <span> 03 </span> </div>
                <figure class="effect-dexter">

                  <img src="https://img.freepik.com/premium-vector/abstract-dynamic-blue-orange-background_67845-1390.jpg?w=2000" alt="img12"/>

                  <figcaption>
                    <h2>Strange <span>Dexter</span></h2>
                    <p>Dexter had his own strange way. You could watch him training ants.</p>
                    <a href="#">View more</a>
                  </figcaption>

                </figure>
              </div>
              <div class="deal-slider__slide swiper-slide">
                <div class="slider-content__order"> <span> 04 </span> </div>
                <figure class="effect-dexter">

                  <img src="https://img.freepik.com/premium-vector/abstract-dynamic-blue-orange-background_67845-1390.jpg?w=2000" alt="img12"/>

                  <figcaption>
                    <h2>Strange <span>Dexter</span></h2>
                    <p>Dexter had his own strange way. You could watch him training ants.</p>
                    <a href="#">View more</a>
                  </figcaption>

                </figure>
              </div>

            </div>


          </div>

        </div>
      </div>
    </div>
  </section>
</body>
</html>
