<div class="service">
  <div class="container">
    <div class="service_wrapper">
      <div class="service-inner">
      <h1 class="title title-wh">
        Как мы <span>работаем, </span>  наш <span>рабочий процесс </span>
      </h1>
      <div class="service_content">
        <div class="service_content__icon">
          <div class="service_icon__img">
            <img class="service_icon__images" src="./img/svg/handshake-solid.svg"/>
            <span> 01 </span>
          </div>
          <div class="service_content__wrap">
            <div class="service_icon__title">
              Погрузочно-разгрузочные работы
            </div>
            <div class="service_icon__text">
              Наша рабочая сила - это прекрасное сочетание опыта, знаний и воображения. Они обладают безупречными навыками в области управления проектами.
            </div>
          </div>
        </div>
        <div class="service_content__icon">
          <div class="service_icon__img">
            <img class="service_icon__images" src="./img/svg/building-regular.svg"/>
            <span> 02 </span>
          </div>
          <div class="service_content__wrap">
            <div class="service_icon__title">
              Упаковка и объединение
            </div>
            <div class="service_icon__text">
              Наша рабочая сила - это прекрасное сочетание опыта, знаний и воображения. Они обладают безупречными навыками в области управления проектами.
            </div>
          </div>
        </div>
        <div class="service_content__icon">
          <div class="service_icon__img">
            <img class="service_icon__images" src="./img/svg/file-signature-solid.svg"/>
            <span> 03 </span>
          </div>
          <div class="service_content__wrap">
            <div class="service_icon__title">
              Инвентарь
            </div>
            <div class="service_icon__text">
              Наша рабочая сила - это прекрасное сочетание опыта, знаний и воображения. Они обладают безупречными навыками в области управления проектами.
            </div>
          </div>
        </div>
        <div class="service_content__icon">
          <div class="service_icon__img">
            <img class="service_icon__images" src="./img/svg/car-side-solid.svg"/>
            <span> 04 </span>
          </div>
          <div class="service_content__wrap">
            <div class="service_icon__title">
              Транспорт
            </div>
            <div class="service_icon__text">
              Наша рабочая сила - это прекрасное сочетание опыта, знаний и воображения. Они обладают безупречными навыками в области управления проектами.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
