<section id="work" class="work">
  <div class="container">
    <div class="work_wrapper">

      <h2 class="title work-title">
        <span class="lng-title-work-1"> Наши Превосходные </span>  <span class="lng-title-work-2">Услуги</span>
      </h2>
     <!-- <h4 class="work-title__text">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti illo at fugiat neque, nesciunt, ratione iure, tempora enim laboriosam reprehenderit quo exercitationem sint blanditiis a iusto est ipsam perspiciatis quae?
Magni magnam at ipsa, totam consequatur    </h4>-->
      <div class="work-content">
        <div data-aos="zoom-in"  data-aos-delay="50"  data-aos-delay="50" data-aos-duration="1000" data-aos-offset="200" class="work-items">
          <div class="work-icon">
            <img src="../img/stats.png">
          </div>
          <div class="work-info">
            <h4 class="work-icon__title lng-service-finance">
              Финансовые услуги
            </h4>

          </div>
        </div>
        <div data-aos="zoom-in"  data-aos-delay="50"  data-aos-delay="50" data-aos-duration="1000"  data-aos-offset="200"class="work-items">
          <div class="work-icon">
            <img src="../img/coding.png">
          </div>
          <div class="work-info">
            <h4 class="work-icon__title lng-service-dev">
              Web-разработка
            </h4>

          </div>
        </div>
        <div data-aos="zoom-in"  data-aos-delay="50"  data-aos-delay="50" data-aos-duration="1000"  data-aos-offset="200" class="work-items">
          <div class="work-icon">
            <img src="../img/social-media.png">
          </div>
          <div class="work-info">
            <h4 class="work-icon__title lng-service-marketing">
              Маркетинг ( продвижение в соц сетях)
            </h4>

          </div>
        </div>
        <div data-aos="zoom-in"  data-aos-delay="50"  data-aos-delay="50" data-aos-duration="1000"  data-aos-offset="200" class="work-items">
          <div class="work-icon">
            <img src="../img/accounting.png">
          </div>
          <div class="work-info">
            <h4 class="work-icon__title lng-service-accounting">
              Бухгалтерские услуги
            </h4>

          </div>
        </div>
        <div data-aos="zoom-in"  data-aos-delay="50"  data-aos-delay="50" data-aos-duration="1000"  data-aos-offset="200" class="work-items">
          <div class="work-icon">
            <img src="../img/handshake.png">
          </div>
          <div class="work-info">
            <h4 class="work-icon__title lng-service-handshake">
              Разработка бизнес-планов и фин моделей для инвестиционных и бизнес-проектов
            </h4>


          </div>
        </div>
        <div data-aos="zoom-in"  data-aos-delay="50"  data-aos-delay="50" data-aos-duration="1000"  data-aos-offset="200" class="work-items">
          <div class="work-icon">
            <img src="../img/branding.png">
          </div>
          <div class="work-info">
            <h4 class="work-icon__title lng-service-branding">
              Брендинг для малого бизнеса ( логотип, фирменный стиль, айдентика)
            </h4>
          </div>
        </div>
        <div data-aos="zoom-in"  data-aos-delay="50"  data-aos-delay="50" data-aos-duration="1000"  data-aos-offset="200" class="work-items">
          <div class="work-icon">
            <img src="../img/video-camera.png">
          </div>
          <div class="work-info">
            <h4 class="work-icon__title lng-service-video">
              Video production (Съемка рекламного видеоролика)
            </h4>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
