<section class="work">
  <div class="container">
    <div class="work_wrapper">

      <h2 class="title work-title">
        Наши Превосходные <span>Услуги</span>
      </h2>
     <!-- <h4 class="work-title__text">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti illo at fugiat neque, nesciunt, ratione iure, tempora enim laboriosam reprehenderit quo exercitationem sint blanditiis a iusto est ipsam perspiciatis quae?
Magni magnam at ipsa, totam consequatur    </h4>-->
      <div class="work-content">
        <div data-aos="zoom-in"  data-aos-delay="50"  data-aos-delay="50" data-aos-duration="1000" data-aos-offset="200" class="work-items">
          <div class="work-icon">
            <img src="../img/finance.png">
          </div>
          <div class="work-info">
            <h4 class="work-icon__title">
              Финансовые услуги
            </h4>

          </div>
        </div>
        <div data-aos="zoom-in"  data-aos-delay="100"  data-aos-delay="50" data-aos-duration="1000"  data-aos-offset="200"class="work-items">
          <div class="work-icon">
            <img src="../img/digital.png">
          </div>
          <div class="work-info">
            <h4 class="work-icon__title">
              Web-разработка
            </h4>

          </div>
        </div>
        <div data-aos="zoom-in"  data-aos-delay="150"  data-aos-delay="50" data-aos-duration="1000"  data-aos-offset="200" class="work-items">
          <div class="work-icon">
            <img src="../img/sham.png">
          </div>
          <div class="work-info">
            <h4 class="work-icon__title">
              Маркетинг
            </h4>

          </div>
        </div>
        <div data-aos="zoom-in"  data-aos-delay="150"  data-aos-delay="50" data-aos-duration="1000"  data-aos-offset="200" class="work-items">
          <div class="work-icon">
            <img src="../img/sham.png">
          </div>
          <div class="work-info">
            <h4 class="work-icon__title">
              Бухгалтерские услуги
            </h4>

          </div>
        </div>
        <div data-aos="zoom-in"  data-aos-delay="150"  data-aos-delay="50" data-aos-duration="1000"  data-aos-offset="200" class="work-items">
          <div class="work-icon">
            <img src="../img/sham.png">
          </div>
          <div class="work-info">
            <h4 class="work-icon__title">
              Маркетинг
            </h4>


          </div>
        </div>
        <div data-aos="zoom-in"  data-aos-delay="150"  data-aos-delay="50" data-aos-duration="1000"  data-aos-offset="200" class="work-items">
          <div class="work-icon">
            <img src="../img/sham.png">
          </div>
          <div class="work-info">
            <h4 class="work-icon__title">
              Маркетинг
            </h4>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
