// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/about";
@import "./components/footer";
@import "./components/work";
@import "./components/numers";
@import "./components/ourDeal";
@import "./components/modal";
.top-page {
  height: 100vh;
  background-color: #fff;
  padding-top: 140px;
  @include media-breakpoint-down(sm) {
    padding-top: var(--size-sm);
  }
}

.top-page__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-page__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  &::before {
    content: "";
    background-image: url(../img/yellow-line.png);
    background-position: center;
    background-repeat: no-repeat;

    top: 0;
    right: 0;
    width: 400px;
    height: 150px;
    position: absolute;
  }
  &::after {
    content: "";
    background-image: url(../img/blue-line.png);
    background-position: center;
    background-repeat: no-repeat;

    bottom: 0;
    left: 0;
    width: 400px;
    height: 150px;
    position: absolute;
  }
}
.top-page__text {
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;
}

.text--orange {
  color: #f4bd33;
}

.top-page__bg-wrapper {
  height: auto;
  width: 50%;
}
.top-page__bg {
  width: 100%;
}

.button {
  width: 200px;
  display: inline-block;
  background-color: #1c50de;
  color: #fff;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  position: relative;
  padding: 14px 26px;
  font-weight: 800;
  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.151);
    top: 0;
    border: none;
    left: 0;
    border-radius: 30px;
    transition: width 0.5s ease-out;
  }
  &:hover,
  &:focus {
    &::before {
      width: 100%;
    }
  }
  span {
    position: relative;
    z-index: 2;
  }
}

#ham-menu {
  display: none;
}
label[for="ham-menu"] {
  display: block;

  z-index: 999;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;

  border-radius: 15px;
}
.ham-menu {
  width: 50vw;
  height: 100%;
  position: fixed;
  top: 0;
  visibility: hidden;
  transform: translate(150%);
  z-index: 998;
  background-color: var(--lightest-green);
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ham-menu > ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  padding: 20px;
  height: 50%;
}
.ham-menu > ul > li {
  font-size: 5rem;
  white-space: nowrap;
  letter-spacing: 0.15em;
  cursor: pointer;
  color: rgb(255, 255, 255);
}
#ham-menu:checked + label {
  background-color: transparent;
  border-color: var(--dark-green);
}
#ham-menu:checked ~ div.ham-menu {
  transform: translate(-20vw);
  visibility: visible;
}
.full-page-green {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-green);
  z-index: 997;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: 500ms;
  position: fixed;
  top: 0;
}
#ham-menu:checked ~ div.full-page-green {
  display: block;
  opacity: 1;
  visibility: visible;
}
[for="ham-menu"] > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
}
.menu-line {
  display: block;
  width: 17px;
  height: 2px;
  margin: 10px 0 5px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: var(--border-color);
  transition: 500ms;
  transform-origin: right center;
}
[for="ham-menu"] > div > span:nth-child(4),
[for="ham-menu"] > div > span:nth-child(5),
[for="ham-menu"] > div > span:nth-child(6) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  transform-origin: left center;
}
#ham-menu:checked + label span {
  background-color: var(--dark-green);
}
#ham-menu:checked + label span:nth-child(2),
#ham-menu:checked + label span:nth-child(5) {
  transform: scale(0);
}
#ham-menu:checked + label span:nth-child(1) {
  transform: translateY(17px) rotate(45deg);
}
#ham-menu:checked + label span:nth-child(4) {
  transform: translateY(17px) rotate(-45deg);
}
#ham-menu:checked + label span:nth-child(3) {
  transform: translateY(-17px) rotate(-45deg);
}
#ham-menu:checked + label span:nth-child(6) {
  transform: translateY(-17px) rotate(45deg);
}
p {
  display: inline;
  font-size: 1.8rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "OpenSansCondensed-Light";
}
a {
  font-size: 1.6rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "OpenSansCondensed-Light";
  display: inline;
  font-weight: bold;
  padding: 7px;
  color: var(--icon-hover-bg);
}
// a::after {
//   content: "\e806";
//   display: inline-block;
//   font-family: fontello;
//   padding: 5px;
//   font-size: 1.6rem;
//   transform: rotate(-90deg);
// }
.text {
  font-size: 2.5rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
}

.heading {
  font-size: 6rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "Patua One";
}
.centre-text {
  text-align: center;
}
.bold-text {
  font-weight: bold;
}
.slider-text__button {
  float: right;
  clear: both;
}
.slider-gear {
  width: 470px;
  height: 470px;
  position: absolute;
  background-image: url(../img/svg/shes.svg);
  background-size: cover;
  background-position: center;
  top: 50%;
  margin-top: -270px;
  z-index: 2;
  right: calc(24% - 235px);
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
.modal {
}
.modal-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modal_container {
  background-color: #034977;
  box-shadow: 0 0 0 8px rgba(#fff, 0.1);
  width: 350px;
}
.modal-title {
  color: #d68924;
  text-transform: uppercase;
  font-family: oswald, sans-serif;
  font-weight: 400;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.form-input {
  display: block;
  background-color: #012c49;
  border: 1px solid lighten($color: #000000, $amount: 7);
  padding: 12px 18px;
  min-width: 280px;
  color: #fff;
  font-size: 15px;
  transition: border 0.25s ease-in;
  &:focus {
    border: 1px solid lighten($color: #000000, $amount: 20);
  }
}

.modal__input {
  margin-bottom: 8px;
}

textarea.form-input {
  min-height: 100px;
  margin-bottom: 30px;
}
.modal__footer {
  text-align: center;
}
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-close {
  background-image: url(../img/svg/xmark-solid.svg);
  background-position: center;
  background-repeat: no-repeat;
}
